<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}
<html lang="en-us" >
<head>
<title>Add form | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" >
    var i=0;
    function addQuestion() {
        i++;
        var div = document.createElement('div');
        var str = "question_name";
        str +=i;
        div.className = 'row';
        div.id = 'question'+i;
        div.style = "display:flex; flex-direction: column; justify-content: left; align-items: left";
        div.innerHTML =
            '<br>'+
            '<strong2>Question '+ i +': </strong2>'+
            '<input type="text" name="question_name[]" id="question_name'+i+'"/>'+
            ' <div id="choices_field" class="choice-row field-name" >\n' +
            '            <td>\n' +
            '              <a id="'+i+'" href="#" onclick="addChoice(this.id)" class="addlink">Add Choice</a>\n' +
            '            </td>\n' +
            '        </div>';

        document.getElementById('questions_field').appendChild(div);
}
</script>
    <style>
    strong1{
        font-weight:bold;
        font-size:16px;
    }
    strong2{
        font-weight:bold;
        font-size:14px;
    }
    strong3{
        font-weight:bold;
        font-size:12px;
    }
</style>
<script type="text/javascript" >
    var j=0;
    function addChoice(id) {
        j++;
        var div = document.createElement('div');
        var str = "question_name";
        str+=id;
        console.log(str);
        div.className = 'row';
        div.id = 'choices';
        div.innerHTML =
            '<span>'+
            '<strong3>Choice: </strong3>'+
            '<input type="text" name="choice_name'+id+'"/>'+
            '</span>';
    document.getElementById('question' + id).appendChild(div);
}
</script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" app-forms model-form change-form"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">User Panel</h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>{{ user.username }}</strong>.
                <a href="{% url 'logout' %}">Log out</a>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Add form</h1>
        <div id="content-main">
{#        <br class="clear">#}
{#    </div>#}
{#    <!-- END Content -->#}
{##}
{#    <div id="footer"></div>#}
<form action="{% url 'posted' %}" method="POST">
        {% csrf_token %}
      <fieldset class="module aligned ">
        <div class="form-row field-name">
                <div>
                    <strong1>Name:</strong1>
                    <input type="text" name="form_name"/><br/>
                </div>
        </div>
        <div id="questions_field" class="question-row field-name" >
            <td>
              <a href="#" onclick="addQuestion()" class="addlink">Add Question</a>
            </td>
        </div>

      </fieldset>
    <input type="submit" value="Post"/>
</form>
</div>
</div>
</div>
<!-- END Container -->

</body>
</html>
