<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}
<html lang="en-us" >
<head>
<title>Edit form | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
<style>
    strong1{
        font-weight:bold;
        font-size:16px;
    }
    strong2{
        font-weight:bold;
        font-size:14px;
    }
    strong3{
        font-weight:bold;
        font-size:12px;
    }
</style>
<script type="text/javascript" >
    var elements = 0;
    function addChoice(currentQuestion, elems) {
        {#if (elems>elements)#}
            elements = elems;
        elements++;
        var span = document.createElement("span");
        span.class="form-control";
        span.id = "choices"+elements;
        span.innerHTML =
            '<a href="#" onclick="removeChoice('+currentQuestion+', '+elements+')" title="Delete this form!"><i class="deletelink"></i></a>'+
            '<strong3>Added Choice: </strong3>'+
            '<input type="text" name="choice_name'+currentQuestion+'"> </br>';
        var str = "name";
        str+=currentQuestion;
        document.getElementById(str).appendChild(span);
}
</script>
<script type="text/javascript" >
    function removeChoice(currentQuestion, elems) {
        var div = document.getElementById("name"+currentQuestion);
        var spanToRemove = document.getElementById("choices"+elems);
        div.removeChild(spanToRemove);
    }
</script>
</head>
<body class=" app-forms model-form change-form"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">User Panel</h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>{{ user.username }}</strong>.
                <a href="{% url 'logout' %}">Log out</a>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <h1>You are in edit-mode:</h1>
        <br>
        <form action="{% url 'posted_and_edit' form.id %}" method="POST">
            {% csrf_token %}

            <span class="form-control">
                <strong1>Name: </strong1>
                <input type="text" name="form_name" value="{{ form.name }}"> </br>
            </span>
            <br>
            <br>
            {% for question in form.question_set.all %}
                <div class="col-lg-6" id="name{{ forloop.counter }}">
                <span class="form-control">
                    <br>
                    <strong2>Question {{ forloop.counter }}:</strong2>
                    <input type="text" name="question_name[]" id="question_name{{ forloop.counter }}" value="{{ question.question_text }}"> </br>
                </span>
                <br>
                {% for choice in question.choice_set.all %}
                    <span class="form-control" id="choices{{ forloop.counter }}">
                        <a href="#" onclick="removeChoice({{ forloop.parentloop.counter }}, {{ forloop.counter }})" title="Delete this form!"><i class="deletelink"></i></a>
                        <strong3>Choice {{ forloop.counter }}:</strong3>
                        <input type="text" name="choice_name{{ forloop.parentloop.counter }}" value="{{ choice.choice_text }}"> </br>
                    </span>

                {% endfor %}
                <td>
                    <a href="#" onclick="addChoice({{ forloop.counter }}, {{ question.choice_set.all|length }})" class="addlink">Add Choice</a>
                </td>
                <br>
                <br>
                </div>
{#{{ question.choice_set.all|length }},#}
            {% endfor %}
        <input type="submit" value="Post"/>
        </form>
    </div>
</div>

</body>
</html>
