<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}

<html lang="pl">
<head>
    <link rel="shortcut icon" href="{%  static 'icons/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/dashboard.css' %}">

    <title>{{ site_title|default:"Django App" }}</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'forms/style.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        h1 {
          text-align: center;
          text-transform: uppercase;
          color: #4c94af;
        }

        p {
          text-indent: 50px;
          text-align: justify;
          letter-spacing: 3px;
        }

        a {
          text-decoration: none;
          color: #008CBA;
        }
    </style>
</head>
<body>


    {% block navigation %}
        {% include 'navigation.html' %}
    {% endblock %}
    <div id="content" class="colMS">
        <h1>Welcome to the Django Polls Service</h1>
        <div>
            <p class="text_main">It's here where you can make your own polls, share them and of course you are able to fill
                already made forms</p>

            <p class="text_main">Please, log in to validate your actions or sign up if you still don't have an account. </p>

        </div>
        <div>
{% if output %}
    {<img src="data:image/png;base64,{{ output }}"\>

{% endif %}
</div>
    {% block content %}

    {% endblock %}

    </div>


<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-muted">
            Logged in as
            {{ user.username }}
        </p>
    </div>
</footer>
</body>
</html>
